<!-- Page Content -->
<div class="wrapper">
  <div class="page-header section-dark " style="background-image: url('assets/img/bg-admin.jpg')">
    <div class="content-center width">
      <div class="container ">
        <div class="title-brand">
          <div class="not-in-navbar">
            <div class="d-flex justify-content-center h-100">
              <div class="card card-admin">
                <div class="card-header">
                  <h3>Tijdsduur</h3>
                  <div class="d-flex justify-content-start social_icon_left social_icon">
                     <span>
                       <a rel="tooltip" (click)="toAdminMenu()">
                        <i class="fas fa-caret-square-left"></i>
                      </a>
                    </span>
                  </div>
                  <div class="d-flex justify-content-end social_icon">
                    <span>
                        <i class="fab fa-facebook-square"></i>
                    </span>
                    <span>
                      <a rel="tooltip" title="Like ons op Facebook" href="https://www.facebook.com/WeAreICEWire/"
                         target="_blank">
                        <i class="fab fa-instagram-square"></i>
                    </a>
                    </span>
                    <span>
                      <a rel="tooltip" title="Like ons op Facebook" href="https://www.facebook.com/WeAreICEWire/"
                         target="_blank">
                        <i class="fab fa-youtube-square"></i>
                    </a>
                    </span>
                    <span>
                       <a rel="tooltip" (click)="signOut()">
                       <i class="fas fa-sign-out-alt"></i>
                      </a>
                    </span>
                  </div>
                </div>
                <div class="card-body">
                  <!--HIER TABLE INVOEGEN-->
                  <app-table-duration-crud></app-table-duration-crud>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container main">
    <!-- Page Features -->
    <div class="row">


    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>
