<!-- Page Content -->
<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/bg-tm.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <div class="angular-logo">
                    <img src="assets/img/angular2-logo.png" alt="">
                </div>
                <h1 class="presentation-title">Ice Cube Wire</h1>
            </div>

            <h2 class="presentation-subtitle text-center">Thomas More Initiatieven</h2>
        </div>
    </div>
  </div>

<div class="container main">
  <!-- Page Features -->
  <div class="row">
  
    <div class="row card-deck mt-5 mb-5"> 
      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-card></app-card>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-card></app-card>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-card></app-card>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-card></app-card>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-card></app-card>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-card></app-card>
      </div>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
</div>
