<!-- Page Content -->
<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/bg-tm.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="angular-logo w-50">
            <object class="embed-responsive" type="image/svg+xml" data="assets/img/ICEWireLogo.svg">
              Your browser does not support SVG.
            </object>
          </div>
          <h1 class="presentation-title">Thomas More</h1>
        </div>

        <h2 class="presentation-subtitle text-center">Thomas More Initiatieven</h2>
      </div>
    </div>
  </div>

  <div class="container main">
    <!-- Page Features -->
    <div class="row">

      <div class="row card-deck mt-5 mb-5">
        <h2 class="m-5">COMING SOON !?!?</h2>
        <script type="text/javascript"> var infolinks_pid = 3249712;
        var infolinks_wsid = 0; </script>
        <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
        <!--      <div class="col-lg-4 col-md-6 col-sm-12">-->
        <!--        <app-card></app-card>-->
        <!--      </div>-->
        <!--      <div class="col-lg-4 col-md-6 col-sm-12">-->
        <!--        <app-card></app-card>-->
        <!--      </div>-->
        <!--      <div class="col-lg-4 col-md-6 col-sm-12">-->
        <!--        <app-card></app-card>-->
        <!--      </div>-->
        <!--      <div class="col-lg-4 col-md-6 col-sm-12">-->
        <!--        <app-card></app-card>-->
        <!--      </div>-->
        <!--      <div class="col-lg-4 col-md-6 col-sm-12">-->
        <!--        <app-card></app-card>-->
        <!--      </div>-->
        <!--      <div class="col-lg-4 col-md-6 col-sm-12">-->
        <!--        <app-card></app-card>-->
        <!--      </div>-->
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>
