<div class="card m-3">
    <img src="assets/img/card.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eveniet tenetur quia neque ex eius voluptate asperiores minima voluptatum quaerat odio rerum id possimus animi reiciendis veniam officia, a fugit.</p>
        <button type="button" class="btn btn-danger mt-2"><i class="fab fa-youtube"></i> Bekijk op Youtube</button>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>