<!-- Page Content -->
<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/bg-admin.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="container not-in-navbar">
            <div class="d-flex justify-content-center h-100">
              <div class="card card-admin">
                <div class="card-header">
                  <h3>Menu</h3>
                  <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-instagram-square"></i></span>
                    <span><i class="fab fa-youtube-square"></i></span>
                    <span>
                       <a rel="tooltip" (click)="signOut()">
                       <i class="fas fa-sign-out-alt"></i>
                      </a>
                    </span>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row m-1">
                    <input type="button" value="Projecten" class="btn login_btn mb-1 col-12" (click)="toProjecten()">
                    <input type="button" value="Personen" class="btn login_btn mb-1 col-12" (click)="toPersonen()">
                    <input type="button" value="Initiatieven" class="btn login_btn mb-1 col-12" (click)="toInitiatieven()">
                    <input type="button" value="categorieën" class="btn login_btn mb-1 col-12" (click)="toCategorieen()">
                    <input type="button" value="Statussen" class="btn login_btn mb-1 col-12" (click)="toStatussen()">
                    <input type="button" value="Weekly challange" class="btn login_btn mt-3 col-12" (click)="toWeaklyChallange()">
                    <input type="button" value="Admins" class="btn login_btn mt-3 mb-1 col-12" (click)="toAdmins()">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h1 class="presentation-title mt-5">ICE Wire ADMIN</h1>
        </div>

        <h2 class="presentation-subtitle text-center mb-5">Enkel voor beheerders!</h2>
      </div>
    </div>
  </div>

  <div class="container main">
    <!-- Page Features -->
    <div class="row">


    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>
