<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top ">

  <a class="navbar-brand" routerLink="/" routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }"><img src="" alt="ICEWire logo"></a>


  <div class="float-right ml-auto">
    <a class="navbar-brand" routerLink="/DIY" routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }">DIY</a>

    <a class="navbar-brand" routerLink="/TM" routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }"><img src="" alt="Thomas more logo"></a>

    <a class="navbar-brand" href="https://www.youtube.com" target="_blank"> <img src="" alt="TY logo">
    </a>
  </div>
</nav>
<div class="container pt-3">
</div>
