<!-- Page Content -->
<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/forbidden.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="container not-in-navbar">
            <div class="d-flex justify-content-center h-100">
              <div class="card card-admin">


                  <div class="container stickyfooter">
                    <div class="error-wrapper">
                      <div class="alarm-icon"></div>
                      <h3 class="title">Verboden toegang!</h3>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <h1 class="presentation-title mt-5">OEPS</h1>


        <h2 class="presentation-subtitle text-center">U hoeft hier niet te zijn!</h2>
        <button type="button" class="btn btn-lg btn-primary mt-4" routerLink="/">TERUG NAAR HOME</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container main">
    <!-- Page Features -->
    <div class="row">


    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>
