<div *ngIf="tonen" class="text-left text-white">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="Naam">Naam: </label>
      <input type="text" class="form-control" id="Naam"
             placeholder="Vul een status naam in"
             [(ngModel)]="category.name" name="Naam" required>
    </div>

    <br/>
    <div class="red h5 text-center" *ngIf="invalideForm">Vul alle velden in aub!</div>
    <br/>
    <div class="float-right pb-3">
      <button (click)="closePopup()" class="btn btn-primary">Annuleren</button>
      <button *ngIf="category.categoryID == 0" type="submit" class="btn  ">Toevoegen</button>
      <button *ngIf="category.categoryID != 0" type="submit" class="btn btn-primary">Updaten</button>
    </div>
  </form>
</div>


<!--TABLE HIER-->
<div *ngIf="!tonen">
  <div *ngIf="!tonen" ><i title="Toevoegen" class="far fa-plus-square fa-2x pointer text-white float-left pb-2" (click)="newCategory()"></i></div>
  <table class="table table-active table-light text-white">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Naam</th>
      <th scope="col" width="100px">Acties</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categories | paginate: config"  >
      <th scope="row">{{category.categoryID}}</th>
      <td>{{category.name}}</td>
      <td>
        <i class="fas fa-pencil-alt fa-lg pointer" title="Edit" (click)="edit(category.categoryID)"></i>&nbsp;
        <i class="fas fa-trash-alt fa-lg pointer" title="Delete" (click)="delete(category.categoryID)"></i>
      </td>
    </tr>

    </tbody>
  </table>
  <pagination-controls class="float-right" (pageChange)="pageChanged($event)"></pagination-controls>
</div>
