<!-- Page Content -->
<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/bg-home.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand"><h1 class="display-3 mb-5" id="about">Een warm welkom</h1>
          <p class="font-italic blockquote p-4 mt-5 mb-5 leading-text">Zoek jij iets om je bezig te houden, scroll dan zeker eens door al
            onze DIY
            filmpjes. DIY betekent "Do It Yourself" of gewoonweg "doe het zelf". Deze filmpjes zijn bedoeld om heel
            eenvoudig zelf thuis uit te kunnen werken als tijdverdrijf of omdat ze gewoon praktisch en leuk zijn.</p>

          <h1 class="presentation-title">ICE Wire</h1>
          <a href="#more" class="btn btn-primary js-scroll-trigger text-center mt-5">Lees meer</a>


        </div>
      </div>
    </div>
  </div>
  <div class="main container mt-5">
    <!-- Jumbotron Header -->
    <div class="p-3" id="more">

      <p class="lead text-justify ">Heb je zelf een idee voor een DIY filmpje, twijfel niet! Neem het op of stuur het onderwerp door
        naar <a
          href="mailto:mijnidee@icewire.be">mijnidee@icewire.be</a> en
        misschien vind je het hier binnenkort wel terug!</p>

      <p class="lead text-justify mt-2 "><b>Weekly-Chalange:</b> {{weaklyChalange.text}}</p>
    </div>
  </div>
</div>
<!-- /.container -->
