<!-- Page Content -->
<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/bg-home.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="angular-logo w-50">
            <!--                      <img class="embed-responsive" src="assets/img/ICEWireLogo.svg" alt="">-->

            <object class="embed-responsive" type="image/svg+xml" data="assets/img/ICEWireLogo.svg">
              Your browser does not support SVG.
            </object>
          </div>
          <h1 class="presentation-title">ICE Wire</h1>
          <a href="#about" class="btn btn-primary js-scroll-trigger text-center">Over ons</a>
        </div>

        <h2 class="presentation-subtitle text-center">needs 4 needs</h2>
      </div>
    </div>
  </div>
  <div class="main container mt-5">
    <!-- Jumbotron Header -->
    <div class="p-3">
      <h1 class="display-3 mb-5" id="about">Een warm welkom</h1>
      <p class="font-italic blockquote p-4 mt-5 mb-5">Zoek jij iets om je bezig te houden, scroll dan zeker eens door al
        onze DIY
        filmpjes. DIY betekent "Do It Yourself" of gewoonweg "doe het zelf". Deze filmpjes zijn bedoeld om heel
        eenvoudig zelf thuis uit te kunnen werken als tijdverdrijf of omdat ze gewoon praktisch en leuk zijn.</p>

      <p class="lead text-justify ">Heb je zelf een idee voor een DIY filmpje, twijfel niet! Neem het op of stuur het onderwerp door
        naar <a
          href="mailto:mijnidee@icewire.be">mijnidee@icewire.be</a> en
        misschien vind je het hier binnenkort wel terug!</p>

      <p class="lead text-justify mt-2 "><b>Weekly-Challange:</b> {{weaklyChallange}}</p>
    </div>
  </div>
</div>
<!-- /.container -->
