<!-- Page Content -->
<div class="container main">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4" >
    <h1 class="display-3">Een warm WELKOM!</h1>
    <p class="font-italic blockquote">Zoek jij iets om je bezig te houden, scroll dan zeker eens door al onze DIY
      filmpjes. DIY betekend "Do It Yourself" of gewoonweg "doe het zelf". Deze filmpjes zijn bedoeld om heel
      eenvoudig zelf thuis uit te kunnen werken als tijdverdrijf of omdat ze gewoon praktisch en leuk zijn.</p>

    <p>Heb je zelf een idee voor een DIY filmpje, twijfel niet! Neem het op of stuur het onderwerp door naar <a
      href="mailto:mijnidee@icewire.be">mijnidee@icewire.be</a> en
      misschien vind je het hier binnenkort wel terug!</p>

    <p class="lead">Weekly-Challange: Maak een drie gangen menu voor iemand van jou famillie. Maak een leuke
      sfeerfoto tijdens elke menugang van het eten en stuur deze door. Wij maken van alle inzendingen een leuk
      filmpje zodat je ook kan zien wat andere mensen gedaan hebben.</p>
  </header>

</div>
<!-- /.container -->
