<footer class="footer pt-5">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a routerLink="/DIY" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            rel="tooltip" title="Go to DIY"> Do it yourself
                        </a>
                    </li>
                    <li>
                        <a class="nav-link"  routerLink="/TM" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            rel="tooltip" title="Go to Thomas More"> Thomas More
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made by 
                    <a href="https://www.thomasmore.be/ice-cube" target="_blank">Ice&nbsp;Cube</a> &amp; 
                    <a href="https://estebanbeerens.com" target="_blank">Esteban&nbsp;Beerens</a>
                </span>
            </div>
        </div>
    </div>
</footer>
