<footer class="footer pt-5">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made by 
                    <a href="https://www.thomasmore.be/ice-cube" target="_blank">Ice&nbsp;Cube</a> &amp; 
                    <a href="https://estebanbeerens.com" target="_blank">Esteban&nbsp;Beerens</a>
                </span>
            </div>
        </div>
    </div>
</footer>
